#### Question 1
-> docker run -it --entrypoint=bash python:3.13.11-slim

-> pip --version

#### Question 2

- hostname: postgres
- port: 5432

#### Prepare the data

In [ ]:
# wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
# wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
import pandas as pd
import io

In [25]:
df = pd.read_parquet("green_tripdata_2025-11.parquet", engine="pyarrow")

In [3]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [3]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [26]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [27]:
import pyarrow.parquet as pq

parquet = pq.ParquetFile("green_tripdata_2025-11.parquet")

first = True

for batch in parquet.iter_batches(batch_size=100_000):
    df_chunk = batch.to_pandas()

    if first:
        df_chunk.head(0).to_sql(
            name="green_taxi_data",
            con=engine,
            if_exists="replace",
            index=False
        )
        first = False
        print("Table created")

    df_chunk.to_sql(
        name="green_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi"   # important for speed
    )

    print("Inserted:", len(df_chunk))

Table created
Inserted: 46912

In [30]:
zones_df = pd.read_csv("taxi_zone_lookup.csv")
zones_df.to_sql(
    name="taxi_zones",
    con=engine,
    if_exists="replace",
    index=False
)

print("Inserted:", len(zones_df))

Inserted: 265

#### Question 3

In [ ]:
SELECT *
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2025-11-01'
  AND lpep_pickup_datetime < '2025-12-01'
  AND trip_distance <= 1;

#### Question 4

In [ ]:
SELECT *
FROM green_taxi_data
WHERE trip_distance < 100
ORDER BY trip_distance DESC
LIMIT 1;

#### Question 5

In [ ]:
SELECT z."Zone", SUM(g.total_amount) AS total_amount
FROM green_taxi_data g
LEFT JOIN taxi_zones z
ON g."PULocationID" = z."LocationID"
WHERE g.lpep_pickup_datetime > '2025-11-18'
AND g.lpep_pickup_datetime < '2025-11-19'
GROUP BY z."Zone"
ORDER BY total_amount DESC
LIMIT 1;

#### Question 6

In [ ]:
SELECT g.*, z."Zone"
FROM green_taxi_data g
LEFT JOIN taxi_zones z
ON g."PULocationID" = z."LocationID"
WHERE z."Zone" = 'East Harlem North'
ORDER BY g."tip_amount" DESC
LIMIT 1;

SELECT * FROM taxi_zones WHERE "LocationID"=263;